@charset "UTF-8";

/***************************************
	사이드바
***************************************/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 2rem 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(73, 73, 73);
}

.sidebar .nav-link.active {
  color: #ebb917;
}

.avatar-img {
  max-width: 10rem;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.sidebar-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

/***************************************
	네브바
***************************************/

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.admin-table {
  max-width: 90%;
}
.chart-data {
  max-height: 300px;
}

/***************************************
	테이블
***************************************/

.loading {
  opacity: 0.5;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

/***************************************
	RESPONSIVE
***************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 200px) {
  .main-content {
    margin-left: 0rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 3rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar {
    top: 0rem;
  }
  .main-content {
    margin-left: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) {
  .main-content {
    margin-left: 5rem;
  }
  /* canvas.line {
    width: 400px !important;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-content {
    margin-left: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-content {
    margin-left: 13rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1250px) {
  .main-content {
    margin-left: 15rem;
  }
}
