@charset "UTF-8";

.main-wrap {
	padding-top: 100px;
	min-height: calc(100% - 70px);
	width: 100%;
	margin: auto;
}

.index-ingredient {
	display: flex;
	flex-direction: column;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	margin-top: 50px;
	row-gap: 3em;
}

p{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	clear: both;
}
.content-p-box{
	display : block;
	width : 100%;
}

label{
	width : 150px;
	float : left;
	font-size: 20px;
	font-weight: 600;
}

p input[type=text]{
	width : calc(100% - 150px);
	padding : 20px;
	height : 40px;
	border : 1px solid #e9e9e9;
	font-size: 16px;
}

p input[readonly=readonly]{
	background-color: #e9e9e9;
	pointer-events : none;
}
p input[readonly=readonly]:focus{
	outline: none;
}

.ck-editor__editable{
	min-height : 500px;
	width : calc(100% - 150px);
	float : right;
	margin-bottom: 20px;
}

form{
	width : 80%;
}

.regis-btn{
	float : right;
	margin : 20px 0;
	width : 200px;
	height : 80px;
	font-size: 20px;
	font-weight : 600;
	border : none;
	border-radius: 7px;
}

.regis-btn:hover{
	background-color: black;
	cursor: pointer;
	color: white;
}

.file-img{
	max-width: calc(100% - 150px);
	max-height : 500px;
}

.modify-delete-box{
	float : right;
}

.modify-delete-box > a, #modify-btn{
	text-align : center;
	font-size : 16px;
	font-weight : 500;
	border : none;
	border-radius : 5px;
	color : white;
	width : 150px;
	padding : 10px;
	margin-left : 20px;
}

.modify-delete-box > a[id=modify-btn] , #modify-btn{
	background-color : #0090f9;
}

.modify-delete-box > a[id=delete-btn]{
	background-color : red;
}

.modify-delete-box > a[id=modify-btn]:hover,
#modify-btn:hover{
	cursor : pointer;
	background-color : #0b7fd3;
}

.modify-delete-box > a[id=delete-btn]:hover{
	cursor : pointer;
	background-color : #ca0000;
}

.secret-yn{
	margin-right : 20px;
}

/**
* 댓글 css
*/
.content-wrap {margin-left: 150px; max-width: calc(100% - 150px);}
.reply-list {margin-bottom:30px; list-style:none; border-bottom:1px solid #e9e9e9}
.reply-list li {padding:20px 0; border-top:1px solid #e9e9e9}
.reply-list li:after {display:block; clear:both; content:''}
.reply-list li .thumb {float:left; width:10%; text-align:center}
.reply-list li .thumb_re {float:left; width:10%; margin-left: 5%; text-align:center}
.reply-list li .thumb img {border-radius: 50%;}
.reply-list li .thumb_re img {border-radius: 50%;}
.reply-list li .reply-content {float:right; width:90%}
.reply-list li .reply-re_content {float:right; width:85%}
.reply-list li .reply-content:after {display:block; clear:both; content:''}
.reply-list li i {margin: 0 5px 0 0}
.reply-list li .reply-content ul li {border:0; padding:0}
.reply-list li .reply-content .info {float:left;}
.reply-list li .reply-content .info li {display:inline-block}
.reply-list li .reply-content .info li.date {font-size:0.75em; color:#bbb}  
.reply-list li .reply-content .control {float:right}
.reply-list li .reply-content .control li {display:inline-block; margin-right:10px}
.reply-list li .reply-content .control li a {color:#555555; font:normal 0.75em 'NanumBarunGothic', 'Noto Sans', sans-serif;}
.reply-list li .reply-content .control li a .fa {color:#555555;}
.reply-list li .reply-content .control li a.reply-url, .reply-list li .reply-content .control li a.reply-url .fa {color:#999;}
.comment {width: 100%; padding: 10px; clear:both; color:#555555; font:normal 0.875em 'NanumBarunGothic', 'Noto Sans', sans-serif; line-height:1.5em; outline-color: #555555;}