@charset "UTF-8";

.main-wrap {
	padding-top: 50px;
	min-height: 80.9%;
	width: 100%;
	margin: auto;
}

table {
	border-collapse: collapse;
	margin: auto;
}

.joininner {
	margin-left: 100px;
}

body {
	font-family: Dotum, '돋움', Helvetica, sans-serif;
	font-size: 16px;
}

input {
	width: 300px;
	border-color: hsla(220, 9%, 46%, .3);
	border : none;
	border-bottom : 1px solid #999999;
	margin-top: 5px;
	font-size: 15px;
	padding : 10px;
	outline : none;
}

span{
	display : inline-block;
	margin : 7px 0;
}

select {
	width: 300px;
	border-color: hsla(220, 9%, 46%, .3);
	border-width: 1px;
	border-radius: 0.375rem;
	margin-top: 5px;
	padding : 10px;
}

.content {
	text-align: center;
}

.logo {
	text-align: center;
	width: 250px;
	height: 80;
	display: flex;
	margin: auto;
}

.join_top {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 14px;
	margin: 8px 0px;
	margin-top: 50px;
}

.join_top::before {
	content: "";
	flex-grow: 1;
	margin: 0px 16px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.join_top::after {
	content: "";
	flex-grow: 1;
	margin: 0px 16px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.join_row {
	/* display: flex; */
	align-items: center;
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	min-height: 50px;
	padding-top: 10px;
}

/* 왜 다 없어짐? */
/* .join_row id{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: '';
	}  */
.index-ingredient {
	margin-bottom: 15px;
}

.joininner {
	width: 400px;
	margin: auto;
	border-radius: 15px;
	padding: 10px;
	display: flex;
}

.btn_row {
	padding-top: 30px;
	text-align: center;
}

.join_btn {
	width: 400px;
	padding: 14px 0;
	border-radius: 6px;
	border: #0090f9;
	background: #0090f9;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
}

.join_btn:hover {
	cursor: pointer;
	background-color: #0B7FD3;
}

input[readonly=readonly]{
	background-color: #e9e9e9;
	pointer-events : none;
}