@charset "UTF-8";

.main-wrap {
	display: flex;
	width: 100%;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 텍스트 오버플로우시 글자 ...으로 표기 */
.team-name {
	width : 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	margin : 0;
}

.team-member-div{
	display: flex;
	flex-direction: column;
}

.member-info{
	display: flex;
	padding : 10px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e9e9e9;
}

.member-info > div {
	width : 200px;
	text-align: center;
	padding : 10px;
}

.member-info > .team-name {
	width : 200px;
	text-align: center;
	padding : 10px;
}

.member-info > div > button{
	padding : 10px;
	width : 100px;
	border : none;
	border-radius: 10px;
	font-size : 16px;
	font-weight: bold;
	background-color: red;
	color : white;
}

.member-info > div > button:hover{
	cursor: pointer;
	background-color: #b20000;
}

.team-info{
	display : flex;
	flex-direction : column;
	align-items : flex-end;
	margin-left : auto;
	width : 200px;
	margin-top : 30px;
	font-size: 22px;
	row-gap : 1em;
}

.team-info > div > label, .team-info > div > span {
	display : flex;
	justify-content: flex-end;
}