@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	flex-direction: column;
}

.find-by-pwd {
	display: flex;
	flex-direction: column;
}

.find-by-pwd p {
	margin: 30px 0;
}

.find-by-pwd input {
	padding: 10px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

.find-by-pwd button {
	padding: 15px;
	margin-left: auto;
	border: none;
	border-radius: 5px;
	background-color: #0090f9;
	color: white;
}

.find-by-pwd button:hover {
	cursor: pointer;
	background-color: #0B7FD3;
}