@charset "UTF-8";

.main-wrap {
	padding-top: 100px;
	min-height: calc(100% - 70px);
	width: 100%;
	margin: auto;
}

.index-ingredient {
	display: flex;
	flex-direction: column;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	margin-top: 50px;
	row-gap: 3em;
}

p {
	margin-top: 20px;
	display: flex;
	align-items: center;
	clear: both;
}

.content-p-box {
	display: block;
	width: 100%;
}

label {
	width: 150px;
	float: left;
	font-size: 20px;
	font-weight: 600;
}

p input[type=text] {
	width: calc(100% - 150px);
	padding: 20px;
	height: 40px;
	border: 1px solid #e9e9e9;
}

p input[type=file] {
	border: none;
}

p input[readonly=readonly] {
	background-color: #bebebe;
	pointer-events: none;
}

p input[readonly=readonly]:focus {
	outline: none;
}

.ck-editor__editable {
	min-height: 500px;
	width: calc(100% - 150px);
	float: right;
	margin-bottom: 20px;
}

form {
	width: 80%;
}
form > div{
	margin-top : 20px;
}

.regis-btn {
	float: right;
	margin: 20px 0;
	width: 200px;
	height: 80px;
	font-size: 20px;
	font-weight: 600;
	border: none;
	border-radius: 7px;
}

.regis-btn:hover {
	background-color: black;
	cursor: pointer;
	color: white;
}

.select_img {
	text-align: right;
}

img[class=inner-img] {
	max-width: calc(100% - 150px);
	max-height: 500px;
}

span[class=secret-yn] {
	margin-right: 20px;
}

.secret-yn {
	margin-right: 20px;
}
.error-box{
	margin-top : 0;
}

.error-box>span {
	margin : 0;
	padding : 0;
	color: red;
	border: none;
	background-color: white;
}